<% if (message.success) { %>
<div
  id="successAlert"
  class="alert alert-success alert-dismissible fade show"
  role="alert"
>
  <%= message.success %>
</div>
<% } else if (message.error) { %>
<div
  id="errorAlert"
  class="alert alert-danger alert-dismissible fade show"
  role="alert"
>
  <%= message.error %>
</div>
<% } else if (message.warning) { %>
<div
  id="warningAlert"
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
>
  <%= message.warning %>
</div>
<% } else if (message.info) { %>
<div
  id="infoAlert"
  class="alert alert-info alert-dismissible fade show"
  role="alert"
>
  <%= message.info %>
</div>
<% } %>

<script>
  $(document).ready(function () {
    // Automatically close the alerts after a few seconds
    setTimeout(function () {
      $("#successAlert").alert("close");
      $("#errorAlert").alert("close");
      $("#warningAlert").alert("close");
      $("#infoAlert").alert("close");
    }, 5000);
  });
</script>
